.container {
  padding: 10px;
}

.container h3 {
  background-color: #e0e5ff;
  color: #304ffe;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.submit {
  padding: 10px;
  border: none;
  background-color: #304ffe;
  color: #fff;
  width: 90px;
  border-radius: 10px;
  font-size: 1rem;
  margin: 30px 10px 0 0;
  cursor: pointer;
}
